<!doctype html>
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/_settings.css">
        <link rel="stylesheet" href="/css/Member/member_style.css">

        <title>通知</title>
    </head>
    <body>
        <main class="bg_page vh-100">
            <header class="header_bg">
                <div class="container d-flex justify-content-between justify-content-lg-start p-4">
                    <p class="fw-bold mb-0 fs-15 me-4">
                        <i class="fas fa-bell line_color fs-15 me-1"></i>
                        LINE通知設定
                    </p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </header>
            <div class="container">
                <!-- card -->
                <div class="d-flex bg-white my-3 mx-2 align-items-center p-3 rounded-3 shadow-sm">
                    <div class="photo_size me-4">
                        <img class="w-100 rounded-3 " src="/img/Member/default_photo.svg" alt="photo">
                    </div>
                    <div class="">
                        <span class="fs-12">2022-03-02 07:04</span>
                        <h3 class="fs-15">折價券放送</h3>
                        <p class="fs-13 mb-0">恭喜您獲得全新折價券！請前往<br>票券匣確認！</p>
                    </div>
                </div>
            </div>
        </main>

        


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>